body{
	font:15px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	margin-bottom: 0;
	background-color:#032a4b;
}

/*Global*/
.container{
	width: 80%;
	margin:auto;
	overflow: hidden;
}

/*header*/
header{
	background:#032a4b;
	color:#ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #07e7ff 3px sh;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header ul{
	margin:0;
	padding: 0;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
	margin-top: 10px;
}

header #branding h1{
	margin:0;
}
header #branding a{
 	font-size: 30px;
 	text-transform: inherit;
 	color: #07e7ff;
 }

header nav{
	float:right;
	margin-top: 20px;
}

header .highlight{
	color:#07e7ff;
	font-weight: bold;
}

header .idk a:hover{
	color: #cccccc
}

header .idk a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;	
}

header .current a{
	color:#07e7ff;
	margin:0px;
	padding: 0px;
	font-weight: bold;
}

header .current a:hover{
	font-weight: bold;
	color: #3dc9d8;
}

/*Showcase*/

#showcase{
	min-height:100px;
	background:url('../img/2927262.jpg');
	background-repeat: repeat;
	background-size: auto;
	text-align: center;
	color: white;
	border-bottom: #07e7ff 3px solid;
}

#showcase1{
	min-height:auto;
	background-color:#ffffff;
	text-align: left;
	color:black;
	border-bottom: #07e7ff 3px solid;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 70px;
}
.marginAbout{
	margin-bottom: 250%;
}

.marginPost{
	margin-bottom:250%;
	text-align: center;
	font-size: 14pt;
}

 #showcase h1{
 	font-size: 40px;
	margin-bottom: 5px;
	text-align: center; 
}

 #showcase p{
	 font-size: 20px;
	 margin: 0px;	 
}

.contentHome{
	margin-top: 250px;
	margin-bottom: 300px;
}

#newslatter{
 	padding: 15px
}

#newslatter h1{
 	float: left;
 	color: white;
}

#newslatter form{
 	float: right;
 	margin-top: 25px;
}

#newslatter input[type:email]{
	padding: 4px;
	width : 250px;
	height : 25px;
}

footer{
	background-color: #032a4b;
	text-align: center;
	font-size: 10pt;
	padding:0px;
	border-top: #07e7ff;
	margin:0px;
}

footer p{
	color: #07e7ff;	
}

.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
.kotak {
    box-shadow: 0px 4px 5px #181616;
    padding: 0px;
}